
@media (min-width: 700px), (orientation: landscape) and (min-width: 480px) {
    .mid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1050px) {
    .mid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1400px) {
    .mid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@supports (display: grid) {
    .sets.mid {
        display: grid;
        margin-right: 6px;
    }
    .mid .set {
        width: auto;
    }
    .mid .set.d {
        grid-row-end: span 3;
    }
}
